<div class="app__slide-wrapper">
    <div class="row">
       <div class="col-xl-12">
          <div class="breadcrumb__wrapper mb-35">
             <div class="breadcrumb__inner">
                <div class="breadcrumb__icon">
                   <i class="flaticon-home"></i>
                </div>
                <div class="breadcrumb__menu">
                   <nav>
                      <ul>
                      <li><span><a href="dashboard.html">Home</a></span></li>
                         <li class="active"><span>event details</span></li>
                      </ul>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="event__details-area">
       <div class="row">
          <div class="col-xxl-7 col-xl-6">
             <div class="event__details-left">
                <div class="body__card-wrapper mb-20">
                   <div class="card__header-top">
                      <div class="card__title-inner">
                         <h4 class="event__information-title">Event news and updates</h4>
                      </div>
                      <div class="card__header-dropdown">
                         <div class="dropdown">
                            <button>
                               <svg width="14" height="4" viewBox="0 0 14 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M2 0.75C2.69036 0.75 3.25 1.30964 3.25 2C3.25 2.69036 2.69036 3.25 2 3.25C1.30964 3.25 0.75 2.69036 0.75 2C0.75 1.30964 1.30964 0.75 2 0.75Z" fill="#7A7A7A"></path>
                                  <path d="M7 0.75C7.69036 0.75 8.25 1.30964 8.25 2C8.25 2.69036 7.69036 3.25 7 3.25C6.30964 3.25 5.75 2.69036 5.75 2C5.75 1.30964 6.30964 0.75 7 0.75Z" fill="#7A7A7A"></path>
                                  <path d="M13.25 2C13.25 1.30964 12.6904 0.75 12 0.75C11.3096 0.75 10.75 1.30964 10.75 2C10.75 2.69036 11.3096 3.25 12 3.25C12.6904 3.25 13.25 2.69036 13.25 2Z" fill="#7A7A7A"></path>
                                  </svg>                                          
                            </button>
                            <div class="dropdown-list">
                               <a class="dropdown__item" href="javascript:void(0)">Edit</a>
                               <a class="dropdown__item" href="javascript:void(0)">Delete</a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="review__main-wrapper pt-25">
                     
                      <div class="review__author-meta mb-15">
                         
                         <div class="review__author-name">
                            <h4>User Name*******</h4>
                         </div>
                      </div>
                      <div class="review__tab">
                         <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">about</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">review</button>
                            </div>
                         </nav>
                         <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                               <div class="about__event-thumb w-img mt-40">
                                <div class="body__card-wrapper mb-20">
                                    <div class="event__meta-time">
                                       <ul>
                                          <li>
                                             <span> Date : </span>
                                             		 <!-- <p>{{lists.dateEvent}}</p>		 -->
                                          </li>
                                          
                                          <li>
                                             <span>Reg. Deadline : </span>
                                             June 1, 2023							
                                          </li>
                                          <li>
                                             <span>Venue : </span>
                                             		<p>xxxx</p>							
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                               </div>
                               <div class="about__content mt-30">
                                  <h4>About This Event</h4>
                               </div>
                              <p>xxxxxxxxxxxx</p>
                               <div class="ticket__purchase-wrapper mt-30">
                                  <h4 class="ticket__purchase-title">Purchase Ticket </h4>
                                  <div class="ticket__price-inner">
                                     <div class="ticket__price-item">
                                        <label class="input__field-text">Total Person</label>
                                        <div class="contact__select">
                                           <select>
                                              <option value="0">01</option>
                                              <option value="1">02</option>
                                              <option value="2">03</option>
                                              <option value="3">04</option>
                                           </select>
                                        </div>
                                     </div>
                                     <div class="ticket__price-item">
                                        <label>Ticket Price :</label>
                                        <strong>
                                           0.00(DT)
                                        </strong>
                                     </div>
                                     <div class="ticket__price-item">
                                        <label>Sub Total :</label>
                                        <strong>
                                           0.00(DT)
                                        </strong>
                                     </div>
                                     <div class="ticket__price-item">
                                        <label>Buy now :</label>
                                        <button class="unfield__input-btn" type="submit">Buy ticket</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                               <div class="review__item mt-40">
                                  <div class="review__item-inner">
                                  </div>
                                  <p></p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-5 col-xl-6">
             <div class="event__details-right">
                <div class="body__card-wrapper mb-20">
                   <div class="review__demo-wrapper">     
                </div>
               
             </div>
          </div>
       </div>
    </div>
 </div>