<div class="schedule__blog-item mb-30">
   <div class="schedule__content">
      <div class="schedule__blog-meta">
         <div class="news__meta-status">
            <span><i class="flaticon-user"></i></span>
            <span>Andru Hebo</span>
         </div>
         <div class="news__meta-status">
            <span><i class="flaticon-clock"></i></span>
            <span>9:00am- 5:00 pm</span>
         </div>
      </div>
      <h5 class="schedule__blog-title"><a href="event-list.html">Nasa Space Apps Challenge kicks off in Bangladesh</a></h5>
      <div class="schedule__blog-location">
         <div class="news__meta-status">
            <span><i class="flaticon-placeholder"></i></span>
            <span>California(CA), 92677</span>
         </div>
      </div>
   </div>
   <div class="schedule__blog-thumb w-img">
      <div class="schedule__tag-post">
         <div class="event__tag-item">
            <span><a href="event-details.html">Hall 03</a></span>
         </div>
         <div class="event__tag-item">
            <span><a href="event-details.html">10 Seat Available</a></span>
         </div>
      </div>
      <div class="schedule__meta-thumb">
         <img src="assets/img/meta/schedule/01.png" alt="image not found">
         <img src="assets/img/meta/schedule/02.png" alt="image not found">
         <img src="assets/img/meta/schedule/03.png" alt="image not found">
         <img src="assets/img/meta/schedule/04.png" alt="image not found">
         <div class="">
            <span class="schedule__meta-count">02+</span>
         </div>
      </div>
      <a href="event-details.html">
         <img src="assets/img/blog/schedule/01.jpg" alt="image not found">
      </a>
   </div>
</div>