<div class="expovent__sidebar" data-background="assets/img/bg/dropdown-bg.png" style="background-image: url(&quot;assets/img/bg/dropdown-bg.png&quot;);">
    <div class="logo-details">
       <span>
          <a href="dashboard.html">
             <img class="logo__white" src="assets/img/logo/logo-small.svg" alt="logo not found">
          </a>
       </span>
       <span>
          <a href="dashboard.html">
             <img class="log__smnall" src="assets/img/logo/logo.svg" alt="logo not found">
          </a>
       </span>
    </div>
    <div class="sidebar__inner simple-bar">
       <div class="dlabnav">
          <ul class="metismenu" id="menu">
             <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                   <i class="flaticon-home"></i>
                   <span class="nav-text">Logistics</span>
                </a>
                <ul aria-expanded="false" class="mm-collapse">
                   <li><a href="dashboard.html">Logistics</a></li>
                   <li><a href="landing-page.html">Logistics Details</a></li>
                   <li><a href="element.html">Dashboard Logistics</a></li>
                </ul>
             </li>
             <li><a href="schedule-list.html" aria-expanded="false">
                   <i class="flaticon-calendar-1"></i>
                   <span class="nav-text">Schedule List</span>
                </a>
             </li>
             <li><a href="speaker-list.html" aria-expanded="false">
                   <i class="flaticon-speaker"></i>
                   <span class="nav-text">Speaker List</span>
                </a>
             </li>
             <li><a href="attendant-list.html" aria-expanded="false">
                   <i class="flaticon-user-1"></i>
                   <span class="nav-text">Attendant List</span>
                </a>
             </li>
             <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                <i class="flaticon-reminder"></i>
                <span class="nav-text">Upcomg Event</span>
             </a>
             <ul aria-expanded="false" class="mm-collapse">
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="event-list.html"> Event List</a></li>
                <li><a href="event-details.html"> Event Details</a></li>
             </ul>
             </li>
             <li><a href="calendar.html" aria-expanded="false">
                   <i class="flaticon-calendar"></i>
                   <span class="nav-text">Calendar</span>
                </a>
             </li>
             <li><a href="venue.html" aria-expanded="false">
                   <i class="flaticon-map-2"></i>
                   <span class="nav-text">Venue</span>
                </a>
             </li>
             <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                <i class="flaticon-user-1"></i>
                <span class="nav-text">Profile</span>
             </a>
             <ul aria-expanded="false" class="mm-collapse">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="setting.html">Setting</a></li>
                <li><a href="chat.html">Chatbox</a></li>
                <li><a href="signin.html">Sign in</a></li>
                <li><a href="signup.html">Sign up</a></li>
             </ul>
             </li>
          </ul>
          <div class="sidebar__thumb mb-60 mt-50">
             <a href="">
                <img src="assets/img/sidebar/sidebar.jpg" alt="image not found">
             </a>
          </div>
          <div class="sidebar__profile mb-50">
             <a href="signin.html"><i class="flaticon-log-out-3"></i><span class="links_name">Log out</span></a>
          </div>
          <div class="sidebar__copyright">
             <p>Copyright @ Expovent 2023</p>
          </div>
       </div>
    </div>
 </div>
