<!-- App side area start -->
<div class="app__slide-wrapper">
  <div class="breadcrumb__area">
    <div class="breadcrumb__wrapper mb-35">
      <div class="breadcrumb__main">
        <div class="breadcrumb__inner">
          <div class="breadcrumb__icon">
            <i class="flaticon-home"></i>
          </div>
          <div class="breadcrumb__menu">
            <nav>
              <ul>
                <li><span><a [routerLink]="['/user/user-list']" routerLinkActive="router-link-active">User list</a></span>
                </li>
                <li class="active"><span>Create User</span></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-12">
      <div class="create__event-area">
        <div class="body__card-wrapper">
          <div class="card__header-top">
            <div class="card__title-inner">
              <h4 class="event__information-title">User Information</h4>
            </div>
            <div class="card__header-dropdown">
              <div class="dropdown">
                <button>
                  <svg width="14" height="4" viewBox="0 0 14 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M2 0.75C2.69036 0.75 3.25 1.30964 3.25 2C3.25 2.69036 2.69036 3.25 2 3.25C1.30964 3.25 0.75 2.69036 0.75 2C0.75 1.30964 1.30964 0.75 2 0.75Z"
                      fill="#7A7A7A" />
                    <path
                      d="M7 0.75C7.69036 0.75 8.25 1.30964 8.25 2C8.25 2.69036 7.69036 3.25 7 3.25C6.30964 3.25 5.75 2.69036 5.75 2C5.75 1.30964 6.30964 0.75 7 0.75Z"
                      fill="#7A7A7A" />
                    <path
                      d="M13.25 2C13.25 1.30964 12.6904 0.75 12 0.75C11.3096 0.75 10.75 1.30964 10.75 2C10.75 2.69036 11.3096 3.25 12 3.25C12.6904 3.25 13.25 2.69036 13.25 2Z"
                      fill="#7A7A7A" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
            <form class="create__event-main pt-25" [formGroup]="userForm">
            <div class="event__left-box">
              <div class="create__input-wrapper">
                <div class="singel__input-field mb-15">
                  <label class="input__field-text">First Name</label>
                  <input type="text" formControlName="firstname">
                </div>
                <div class="singel__input-field mb-15">
                  <label class="input__field-text">Last Name</label>
                  <input type="text" formControlName="lastname">
                </div>
                <div class="singel__input-field mb-15">
                  <label class="input__field-text">Username</label>
                  <input type="text" formControlName="username">
                </div>
                <div class="singel__input-field mb-15">
                  <label class="input__field-text">Email address</label>
                  <input type="email" formControlName="address">
                </div>
                <div class="singel__input-field mb-15">
                  <div class="singel__input-field is-color-change mb-15">
                    <label class="input__field-text">Date</label>
                    <input type="date" formControlName="dateNaissance">
                  </div>
                </div>
            </div>
            </div>
            <div class="event__right-box">
              <div class="singel__input-field mb-15">
                <label class="input__field-text">Sexe</label>
                <div class="contact__select">
                  <select formControlName="sexe">
                    <option value="HOMME">Homme</option>
                    <option value="FEMME">Femme</option>
                  </select>
                </div>
              </div>
              <div class="singel__input-field mb-15">
                <label class="input__field-text">Role</label>
                <div class="contact__select">
                  <select formControlName="role">
                    <option value="ORGANISER">Organisateur</option>
                    <option value="VISITOR">Visiteur</option>
                  </select>
                </div>
              </div>
              <div class="singel__input-field mb-15">
                <label class="input__field-text">Password</label>
                <input type="password" formControlName="password">
              </div>
              <div class="singel__input-field mb-15">
                <label class="input__field-text">Password confirmation</label>
                <input type="password" formControlName="confirmPassword">
              </div>
              <div class="sing__button mb-20">
                <button class="input__btn w-100" (click)="onSignUp()">Create user</button>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- App side area end -->
</div>
