<div class="app__slide-wrapper">
   <div class="breadcrumb__area">
      <div class="breadcrumb__wrapper mb-35">
         <div class="breadcrumb__main">
            <div class="breadcrumb__inner">
               <div class="breadcrumb__icon">
                  <i class="flaticon-home"></i>
               </div>
               <div class="breadcrumb__menu">
                  <nav>
                     <ul>
                        <li><span><a href="dashboard.html">Home</a></span></li>
                        <li class="active"><a  href="http://localhost:4200/logistic/list">Logistic List</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
            <div class="breadcrum__button">
               <a class="breadcrum__btn event__popup-active" href="add-event">Create Logistic<i
                     class="fa-regular fa-plus"></i></a>
            </div>
         </div>
      </div>
   </div>
   <div class="event__list-area pb-20">
      <div class="event__content-inner">
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="day-tab-1-pane" role="tabpanel" aria-labelledby="day-tab-1"
               tabindex="0">
               <div class="body__card-wrapper">
                  <h4 class="event__information-title mb-25">Logistic Information</h4>


                  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                     <form style="display: flex; align-items: center;">
                        
                        <label for="startDate"
                           style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;">
                           Look in this area
                        </label>
                        <!-- <input type="date"
                         style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;"
                         name="startDate" [(ngModel)]="startDate" id="startDate" placeholder="Start Date">
                       <input type="date"
                         style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;"
                         name="endDate" [(ngModel)]="endDate" id="endDate" placeholder="End Date"> -->
                         <input type="date"
                         style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;"
                         name="startDate" [(ngModel)]="startDate" id="startDate" placeholder="Start Date">
                       
                       <input type="date"
                         style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;"
                         name="endDate" [(ngModel)]="endDate" id="endDate" placeholder="End Date">
                       

                        <button type="submit"
                           style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;"
                           (click)="searchByDateRange()">
                           Search
                        </button>
                     </form>
                  </div>
                  <div class="attendant__wrapper mb-35">
                     <table>
                        <thead>
                           <tr>
                              <th>ID No</th>
                              <th>Description</th>
                              <th>Date</th>
                              <th>Total Cost</th>
                              <th>Edit</th>
                              <th>Delete</th>
                              <!-- <th>Affect</th> -->
                           </tr>
                        </thead>
                        <tbody>
                           <!-- <tr *ngFor="let list of sortedLists"> -->
                           <tr *ngFor="let list of pagedLists">
                              <td>
                                 <div class="attendant__serial">
                                    <span>{{ list.id }}</span>
                                 </div>
                              </td>
                              <td>
                                 {{ list.commentaire }}
                              </td>
                              <td>
                                 {{ list.datelogistic }}
                              </td>
                              <td>
                                 <div class="attendant__date">
                                    <span>{{ list.totalCost }}</span>
                                 </div>
                              </td>
                              <td>
                                 <button type="button" class="btn btn-primary"
                                    routerLink="../update/{{list.id}}">edit</button>
                              </td>
                              <td>
                                 <button type="button" class="btn btn-danger"
                                    (click)="deleteLogistics(list.id)">delete</button>
                              </td>

                           </tr>
                        </tbody>
                     </table>
                     <!-- Custom Pagination -->
                     <div class="custom-pagination d-flex justify-content-center">
                        <button class="pagination-button" [disabled]="currentPage === 1" (click)="prevPage()">
                           &larr; Prev
                        </button>
                        <div class="pagination-current-page mx-4">
                           Page {{ currentPage }}
                        </div>
                        <button class="pagination-button" [disabled]="currentPage === totalPages" (click)="nextPage()">
                           Next &rarr;
                        </button>
                     </div>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>