<div class="app__slide-wrapper">
    <div class="breadcrumb__area">
        <div class="breadcrumb__wrapper mb-35">
            <div class="breadcrumb__main">
                <div class="breadcrumb__inner">
                    <div class="breadcrumb__icon">
                        <i class="flaticon-home"></i>
                    </div>
                    <div class="breadcrumb__menu">
                        <nav>
                            <ul>
                                <li><span><a href="dashboard.html">Home</a></span></li>
                                <li class="active"><span>Update Event</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <div class="create__event-area">
                <div class="body__card-wrapper">
                    <div class="card__header-top">
                        <div class="card__title-inner">
                            <h4 class="event__information-title">Update Event</h4>
                        </div>
                        <div class="card__header-dropdown">
                            <div class="dropdown">
                                <button>
                                    <svg width="14" height="4" viewBox="0 0 14 4" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2 0.75C2.69036 0.75 3.25 1.30964 3.25 2C3.25 2.69036 2.69036 3.25 2 3.25C1.30964 3.25 0.75 2.69036 0.75 2C0.75 1.30964 1.30964 0.75 2 0.75Z"
                                            fill="#7A7A7A"></path>
                                        <path
                                            d="M7 0.75C7.69036 0.75 8.25 1.30964 8.25 2C8.25 2.69036 7.69036 3.25 7 3.25C6.30964 3.25 5.75 2.69036 5.75 2C5.75 1.30964 6.30964 0.75 7 0.75Z"
                                            fill="#7A7A7A"></path>
                                        <path
                                            d="M13.25 2C13.25 1.30964 12.6904 0.75 12 0.75C11.3096 0.75 10.75 1.30964 10.75 2C10.75 2.69036 11.3096 3.25 12 3.25C12.6904 3.25 13.25 2.69036 13.25 2Z"
                                            fill="#7A7A7A"></path>
                                    </svg>
                                </button>
                                <div class="dropdown-list">
                                    <a class="dropdown__item" href="javascript:void(0)">Edit</a>
                                    <a class="dropdown__item" href="javascript:void(0)">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="create__event-main pt-25" [formGroup]="form" (ngSubmit)="onSubmit()" >
                        <div class="event__left-box">
                            <div class="create__input-wrapper">
                                    <div class="singel__input-field mb-15">
                                        <label class="input__field-text">Event Name</label>
                                        <input type="text" formControlName="eventTitle">
                                    </div>
                                    <div class="singel__input-field mb-15">
                                        <label class="input__field-text">Event Category</label>
                                        <select formControlName="category">
                                            <option value="HEALTH">HEALTH</option>
                                            <option value="TECHNOLOGY">TECHNOLOGY</option>
                                            <option value="CHARITY">CHARITY</option>
                                            <option value="BUSINESS">BUSINESS</option>
                                            <option value="FASHION">FASHION</option>
                                        </select>
                                    </div>
                                    <div class="event__input mb-15">
                                        <label class="input__field-text" >Event Details</label>
                                        <textarea placeholder="" formControlName="description"></textarea>
                                    </div>
                            </div>
                            
                                <div class="row g-20">
                                    <div class="col-xxl-12 col-xl-12 col-lg-12">
                                        <div class="singel__input-field is-color-change mb-15">
                                            <label class="input__field-text">Start Date</label>
                                            <input type="date" formControlName="dateEvent">
                                        </div>
                                    </div>

                                    <div class="col-xxl-12 col-xl-12 col-lg-12">
                                        <div class="singel__input-field is-color-change mb-15">
                                            <label class="input__field-text">End Date</label>
                                            <input type="date" formControlName="dateFinEvent">
                                        </div>
                                    </div>

                                    <div class="col-xxl-12 col-xl-12 col-lg-12">
                                        <div class="singel__input-field is-color-change mb-15">
                                            <label class="input__field-text">Deadline</label>
                                            <input type="date" formControlName="deadLine">
                                        </div>
                                    </div>

                                    <div class="col-xxl-12 col-xl-12 col-lg-12">
                                        <div class="singel__input-field mb-15">
                                            <label class="input__field-text">Venue / Address</label>
                                            <input type="text" placeholder="" formControlName="adressEvent">
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <label class="input__field-text">Event Type</label>
                                        <div class="contact__select">
                                            <select formControlName="eventType">
                                                <option value="0">Select the services</option>
                                                <option value="FREE">FREE</option>
                                                <option value="PAID">PAID</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="singel__input-field mb-15">
                                            <label class="input__field-text">Total Seat</label>
                                            <input type="number" formControlName="nbrParticipant">
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="singel__input-field">
                                            <label class="input__field-text">Ticket Price</label>
                                            <input type="text" value="$10.00" formControlName="ticketPrice" >
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <label class="input__field-text">Event Status</label>
                                        <div class="contact__select">
                                            <select formControlName="status">
                                                <option value="PLANIFIE">PLANIFIE</option>
                                                <option value="ANNULE">ANNULE</option>
                                                <option value="REPORTE">REPORTE</option>
                                                <option value="ENCOURS">ENCOURS</option>
                                                <option value="TERMINE">TERMINE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="event__right-box">
                            <div class="create__input-wrapper">
                                    <div class="singel__input-field mb-15">
                                        <label class="input__field-text">Organiser</label>
                                        <input type="text" formControlName="organiser">
                                    </div>
                                    <div class="singel__input-field mb-15">
                                        <label class="input__field-text">Email</label>
                                        <input type="text" formControlName="email">
                                    </div>
                                    <div class="singel__input-field mb-15">
                                        <label class="input__field-text">Phone Number</label>
                                        <input type="text" formControlName="telNumber">
                                    </div> 

                                    <div class="singel__input-field mb-15">
                                        <label class="input__field-text">Budget</label>
                                        <input type="text" formControlName="budget">
                                    </div> 
                                    <button class="input__btn w-100" type="submit">Update Event</button>
                                    
                                    <div *ngIf="successMessage" class="success-message">
                                        <i class="fa fa-check-circle"></i>
                                        <span>{{ successMessage }}</span>
                                      </div>
                            </div>
                         
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
